.goods {
  background: rgb(245, 245, 245);
}

.goods__head {
  padding-top: 70px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goods__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.goods__item {
  width: 31.5%;
  background: #fff;
  padding: 24px;
}