.header {
  display: flex;
  align-items: flex-end;
  height: 200px;
  width: 100%;
  background: 0% 39% /cover url('../images/background-image.jpg') no-repeat;
  margin-bottom: 48px;

  @include tablets {
    height: 150px;
  }

  @include phones {
    height: 100px;
  }
}