.hero {
  margin-bottom: 24px;

  @include phones {
    margin-bottom: 48px;
  }
}

.hero__content {
  display: flex;
  padding-top: 9px;

  @include phones {
    flex-direction: column;
  }
}

.hero__article {
  flex: 0.77;

  @include phones {
    flex: 1;
  }
}