.manager {
  margin-bottom: 36px;
}


.manager__avatar {
  display: flex;
}

.manager__avatar-image {
  height: 48px;

}

.manager__avatar-pic {
  border-radius: 50%;
}

.manager__avatar-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6px;
}

.manager__avatar-item {
  line-height: 1em;
} 

.manager__avatar-name {
  font-size: 15px;
}