.manager {
  margin-bottom: 43px;

  @include phones {
    margin-bottom: 48px;
  }
}

.manager__avatar {
  display: flex;
}

.manager__avatar-image {
  height: 48px;
  margin-right: 12px;
}

.manager__avatar-pic {
  border-radius: 50%;
}

.manager__avatar-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.manager__avatar-item {
  line-height: 1em;
}

.manager__avatar-name {
  font-size: 18px;
}

.manager__avatar-email {
  font-size: 18px;
}