.socials__item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.socials__item-icon {
  height: 24px;
  width: 24px;
  background: #fff;
  margin-right: 12px;
}

.socials__item-pic {
  fill: #000;
}

.socials__item-link {
  font-size: 18px;
}