section.goods  
  .goods__head
    .container
      .goods__header
        header.section-head.section-head--goods Lorem of Lorem Ipsum
        nav.search
          label.search__field
            button(
              type="submit"
            ).search__field-button 
              +icon('search', 'search__field-pic')                    
            input(
              type="search"
              placeholder="Search"
              name="search"
            ).search__field-input
  .goods__content
    .container
      ul.goods__list
        - 
          var goods= [
            {
                name: 'Lorem upsum Dolor',
                image: 'item-logo.png',
                by: '',
                text: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex quis, illum sunt quod beatae alias',
                format: '',
                character: 'Public',
                price: 'Lorem',
                cond: 'No fees & no time restrictions'
            },{
                name: 'Lorem Ipsum Dolor',
                image: 'item-logo.png',
                by: 'Lorem ipsum',
                text: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex quis, illum sunt quod beatae alias',
                format: 'scv',
                character: 'Public',
                price: 'Lorem',
                cond: 'No fees & no time restrictions'
            },{   
                name: 'Lorem Ipsum Dolor',
                image: 'item-logo.png',
                by: 'Lorem ipsum',
                text: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex quis, illum sunt quod beatae alias',
                format: 'csv',
                character: 'Open',
                price: 'Lorem',
                cond: 'No fees & no time restrictions'
            }             
          ]
        each good in goods
          li.goods__item            