.manager
  h3.article-head Contact                  
  .manager__avatar
    .manager__avatar-image
      +image('gosling.jpg', 'manager__avatar-pic')
    ul.manager__avatar-list
      li.manager__avatar-item
        h5.manager__avatar-name Ivan Ivanov
      li.manager__avatar-item
        a.manager__avatar-email ivan@mail.ru