include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title |Fe-school-testing
  body
    .wrapper <!-- overflow cut -->
      .maincontent
        include /sections/header.pug
        section.hero
          .container
            header.section-head Lorem Ipsum
            .hero__content              
              article.hero__article
                include /sections/about.pug
                include /sections/focus.pug
              aside.aside
                include /sections/manager.pug
                include /sections/socials.pug
        include /sections/goods.pug
          include /sections/good.pug